#build versions
build*
Debug*
Release*

#Visual Studio settings
.vscode
/drivers

.metadata/

#GUI files
Tools/Squareline GUI Project/backup/
EnduraUIPrototype1_events.py

# MCE .exe tools
!Infineon-MCEDesigner-DevelopmentTools-v02_03-EN.exe
!Infineon-MCEWizard-DevelopmentTools-v02_03-EN.exe

# MCE compiled files
*.ldf

#DAVE high-churn file
**/.settings/language.settings.xml
